Django
djangorestframework
django-crispy-forms
crispy-bootstrap4
lxml
Pillow
concurrent-log-handler
apscheduler
markdown
pymdown-extensions
inflect
django-environ
django-cors-headers
google-genai
pytz
django-cleanup
python-dateutil
python-toon
cryptography
openai
anthropic
gunicorn
whitenoise
psycopg2-binary
boto3
django-storages
