<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Autumn</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Autumn is a time management application">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}?v={{ static_version.style }}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/colours.css' %}?v={{ static_version.colours }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script type="text/javascript" src="{% static 'core/js/jquery-3.6.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'core/js/script.js' %}?v={{ static_version.script }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                // Calculate default dates for the insights link
                let current_date = new Date();
                let start_date = new Date(current_date.getFullYear(), current_date.getMonth(), 1).toISOString().split('T')[0];
                let end_date = new Date().toISOString().split('T')[0];
                
                // Update the insights link with the default dates
                let insights_link = $('#insights-link');
                let insights_url = insights_link.attr('href');
                insights_link.attr('href', insights_url + '?start_date=' + start_date + '&end_date=' + end_date);
            });
        </script>

        {% block head_includes %}
        {% endblock %}

        <link rel="shortcut icon" href="{% static 'core/images/new_autumn_leaf_transparent_slanted.png' %}" type="image/png">
    </head>
    <body>
        <div class="container">
            <div class="ribbon"> <!-- ribbon at the top of the page -->
                <a href="{% url 'home' %}" class="plain-link flex-row thirds-width align-center">
                    <img src="{% static 'core/images/clear_autumn_leaf_transparent_slanted.png' %}" class="ribbon-logo">
                    <h1 class="main-title">Autumn</h1>
                </a>
                <div class="ribbon-buttons">
                    <i class="fas fa-bars burger-menu" id="burger-menu"></i> <!-- Added burger menu icon -->
                    <label class="switch">
                        <input type="checkbox" id="theme-switch">
                        <span class="slider round"></span>
                    </label>
                    <a href="{% url 'profile' %}" class="plain-link flex-row thirds-width align-center">
                        <b>{{ user.username }}</b>
                        <img class="profile-pic" src="{{ user.profile.image.url }}" alt="profile picture">
                    </a>
                </div>
            </div>

            <nav class="left-panel">
                <a href="{% url 'projects'  %}" class="main-link"><i class="fas fa-project-diagram"></i> Manage Projects</a>
                <a href="{% url 'timers' %}" class="main-link"><i class="fas fa-clock"></i> Timers</a>
                <a href="{% url 'sessions' %}" class="main-link"><i class="fas fa-book"></i> Session Logs</a>
                <a href="{% url 'insights' %}" class="main-link" id="insights-link"><i class="fas fa-robot"></i> Insights</a>
                <a href="{% url 'charts' %}" class="main-link"><i class="fas fa-chart-bar"></i> Charts</a>
                <a href="{% url 'import' %}" class="main-link"><i class="fas fa-file-import"></i> Import</a>
                <a href="{% url 'export' %}" class="main-link"><i class="fas fa-file-export"></i> Export</a>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="plain-link" style="background:none;border:none;
                    padding:0;margin:0;cursor:pointer; font-size: inherit;">
                        <i class="fas fa-sign-out-alt"></i> Log out
                    </button>
                </form>
            </nav>


            <div class="main-body">
                <section id="messages">
                {% if messages %}
                    {% for message in messages%}
                        {% if message.tags == 'error'%}
                            <div class="card cadmium-red ">
                                <em> {{ message }} </em>
                            </div>
                        {% elif message.tags == 'info'%}
                            <div class="card cobalt-blue">
                                <em> {{ message }} </em>
                            </div>
                        {% else %}
                            <div class="card lincolngreen">
                                <em> {{ message }} </em>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </section>
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>
