<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Autumn</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Autumn is a time management application">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script type="text/javascript" src="{% static 'core/js/script.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'core/images/autumn_maple_leaf.avif' %}" type="image/avif"?
    </head>
    <body>
        <div class="container">
            <div class="ribbon"> <!-- ribbon at the top of the page -->
                <h1 class="main-title">
                    <a href="{% url 'home' %}" class="plain-link">Autumn</a>
                </h1>
                <div class="ribbon-buttons">
                    <i class="fas fa-bars burger-menu" id="burger-menu"></i> <!-- Added burger menu icon -->
                    <label class="switch">
                        <input type="checkbox" id="theme-switch">
                        <span class="slider round"></span>
                    </label>
                    <div class="profile">
                        <span class="info">
                            <b>Henry</b>
                            {% if user_title %}
                                <small class="text-muted">TimeLord</small> <!-- custom user title -->
                            {% else %}
                                <small class="text-muted">User</small>
                            {% endif %}
                        </span>
                        <img class="profile-pic" src="{% static 'core/images/Mr_peanutbutter.jpg' %}" alt="profile picture">
                    </div>
                </div>
            </div>

            <section id="messages">
                {% if messages %}
                    {% for message in messages%}
                        {% if message.tags == 'error'%}
                            <div class="card cadmium-red ">
                                <em> {{ message }} </em>
                            </div>
                        {% elif message.tags == 'info'%}
                            <div class="card cobalt-blue">
                                <em> {{ message }} </em>
                            </div>
                        {% else %}
                            <div class="card lincolngreen">
                                <em> {{ message }} </em>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </section>

            <nav class="left-panel">
                <a href="{% url 'projects'  %}" class="main-link"><i class="fas fa-project-diagram"></i> Manage Projects</a>
                <a href="{% url 'timers' %}" class="main-link"><i class="fas fa-clock"></i> Timers</a>
                <a href="#" class="main-link"><i class="fas fa-book"></i> Session Logs</a>
                <a href="#" class="main-link"><i class="fas fa-chart-bar"></i> Charts</a>
                <a href="#" class="main-link"><i class="fas fa-cog"></i> Settings</a>
                <a href="#" class="main-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </nav>

            <div class="main-body">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>