<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Autumn</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Autumn is a time management application">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/colours.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="{% static 'core/js/script.js' %}"></script>

        {% block head_includes %}
        {% endblock %}

        <link rel="shortcut icon" href="{% static 'core/images/new_autumn_leaf_transparent_slanted.png' %}" type="image/png">
    </head>
    <body>
        <div class="container">
            <div class="ribbon"> <!-- ribbon at the top of the page -->
                <a href="{% url 'home' %}" class="plain-link flex-row thirds-width align-center">
                    <img src="{% static 'core/images/clear_autumn_leaf_transparent_slanted.png' %}" class="ribbon-logo">
                    <h1 class="main-title">Autumn</h1>
                </a>
                <div class="ribbon-buttons">
                    <i class="fas fa-bars burger-menu" id="burger-menu"></i> <!-- Added burger menu icon -->
                    <label class="switch">
                        <input type="checkbox" id="theme-switch">
                        <span class="slider round"></span>
                    </label>
                    <a href="{% url 'profile' %}" class="plain-link flex-row thirds-width align-center">
                        <b>{{ user.username }}</b>
                        <img class="profile-pic" src="{{ user.profile.image.url }}" alt="profile picture">
                    </a>
                </div>
            </div>

            <nav class="left-panel">
                <a href="{% url 'projects'  %}" class="main-link"><i class="fas fa-project-diagram"></i> Manage Projects</a>
                <a href="{% url 'timers' %}" class="main-link"><i class="fas fa-clock"></i> Timers</a>
                <a href="{% url 'sessions' %}" class="main-link"><i class="fas fa-book"></i> Session Logs</a>
                <a href="{% url 'charts' %}" class="main-link"><i class="fas fa-chart-bar"></i> Charts</a>
                <a href="{% url 'import' %}" class="main-link"><i class="fas fa-file-import"></i> Import</a>
                <a href="{% url 'export' %}" class="main-link"><i class="fas fa-file-export"></i> Export</a>
                <a href="{% url 'logout' %}" class="main-link"><i class="fas fa-sign-out-alt"></i> Log out</a>
            </nav>

            <div class="main-body">
                <section id="messages">
                {% if messages %}
                    {% for message in messages%}
                        {% if message.tags == 'error'%}
                            <div class="card cadmium-red ">
                                <em> {{ message }} </em>
                            </div>
                        {% elif message.tags == 'info'%}
                            <div class="card cobalt-blue">
                                <em> {{ message }} </em>
                            </div>
                        {% else %}
                            <div class="card lincolngreen">
                                <em> {{ message }} </em>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </section>
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>