{% extends 'core/base.html' %}
{% load static %}
{% load time_formats %}
{% load param_replace %}

{% block head_includes %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- for jquery ui and autocomplete-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    {#<script src="https://www.gstatic.com/charts/loader.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!--chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
    <!-- calendar chart plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@1.1.1/dist/chartjs-chart-matrix.min.js"></script>
    <!-- wordcloud plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wordcloud2.js/1.1.0/wordcloud2.min.js"></script>
    <script src="{% static 'core/js/search_projects.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/js/charts.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <section id="search_options">
        <form method="get" id="search_form" class="card flex-row" enctype="multipart/form-data">
            <div id="search_projects">
                <span class="label-input">
                    <label for="project-search"><i class="fa fa-search"></i> Search</label>
                    {{ search_form.project_name }}
                    {{ search_form.project.errors }}
                </span>
                <span id="project-search-results"></span>
            </div>

            <span class="label-input" id="filter_start">
                <label for="start_date"><i class="fa fa-calendar"></i> Start Date</label>
                {{ search_form.start_date }}
                {{ search_form.start_date.errors }}
            </span>

            <span class="label-input" id="filter_end">
                <label for="end_date"><i class="fa fa-calendar"></i> End Date</label>
                {{ search_form.end_date }}
                {{ search_form.end_date.errors }}
            </span>

             <span class="label-input">
                <label for="chart_type"><i class="fa fa-chart-bar"></i>Type</label>
                <select id="chart_type" name="chart_type">
                    <option value="pie">Pie</option>
                    <option value="bar">Bar</option>
                    <option value="scatter">Scatter</option>
                    <option value="calendar">Calendar</option>
                    <option value="wordcloud">Wordcloud</option>
                </select>
            </span>

            <span>
                <button type="button" class="primary-button" id="draw">
                    <i class="fa fa-chart-line"></i>
                    Draw
                </button>
            </span>
        </form>
    </section>

    <section id="chart_section" class="card">

        <input type="hidden" id="projects_link" value="{% url 'api_tally_by_sessions' %}">
        <input type="hidden" id="subprojects_link" value="{% url 'api_list_subprojects_param' %}">
        <input type="hidden" id="sessions_link" value="{% url 'api_list_sessions' %}">
        <input type="hidden" id="raw_sessions_link" value ="{% url 'api_list_sessions' %}">
        <input type="hidden" id="wordcloud_notes_link" value ="{% url 'api_wordcloud_notes' %}">



        <!-- display the graph using chart js -->
        <div id="canvas_container">
            <canvas id="chart"></canvas>
        </div>
    </section>
{% endblock %}