{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="card" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.parent_project }}
        {{ form.parent_project.errors }}

        <span class="label-input">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </span>

        <br> <br>

        <span class="label-input">
            {{ form.description }}
            {{ form.description.errors }}
        </span>

        <br><br>

        <span class="label-input">
            <strong>Project Context & Tags</strong><br>
            {% if form.instance.parent_project or form.initial.parent_project %}
                {% with project=form.instance.parent_project|default:form.initial.parent_project %}
                    {% if project.context %}
                        <span class="badge text-cyan">Context: {{ project.context.name }}</span>
                    {% endif %}
                    {% if project.tags.all %}
                        {% for tag in project.tags.all %}
                            <span class="badge text-blue">{{ tag.name }}</span>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endif %}
        </span>

        <br> <br>

        <button type="submit" id="create-subproject" class="primary-button">
            <i class="fa fa-check-circle"></i>
            Create Subproject
        </button>
    </form>
{% endblock %}