{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="card" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <span class="label-input">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </span>

        <br> <br>

        <span class="label-input">
            {{ form.description }}
            {{ form.description.errors }}
        </span>

        <br> <br>

        <button type="submit" id="create-project" class="primary-button">
            <i class="fa fa-check-circle"></i>
            Create Project
        </button>
    </form>
{% endblock %}