{% extends 'core/base.html' %}
{% load static %}
{% load time_formats %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h3>
            Are you sure you want to delete this subproject of
           <span class="text-red" id="project-name">
                <a class="plain-link" href="{% url 'update_project' subproject.parent_project.id %}">
                    {{ subproject.parent_project.name }}
                </a>
            </span>?
        </h3>

        <div class="card" id="subproject-{{ subproject.id }}">
            <table>
                <tr>
                    <td class="text-blue">
                        <h3>{{ subproject.name }}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if subproject.description %}
                            <p>{{ subproject.description }}</p>
                        {% else %}
                            <p>No description available.</p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="text-green">
                        {{ subproject.total_time|min_formatter }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-cyan">{{ subproject.start_date|date_formatter }}</span>

                        ->

                        <span class="text-cyan">{{ subproject.last_updated|date_formatter }}</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="button-row">
            <button type="button" class="secondary-button" onclick="window.location.href='{% url 'projects' %}'">
                 <i class="fa fa-arrow-left"></i>
                Back
            </button>
            <button type="submit" id="start-timer" class="primary-button dark-red">
                <i class="fa fa-trash"></i>
                Delete
            </button>
        </div>
    </form>
{% endblock %}