{% extends 'core/base.html' %}
{% load static %}
{% load time_formats %}

{% block head_includes %}
    <script src="{% static 'core/js/dynamic_timers.js' %}v?={{ static_version.dynamic_timers.js }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h2>
        <a href="{% url 'timers' %}" class="plain-link">
            <u>Active Timers</u>
        </a>
    </h2>
    <div id="active-timers">
        {% for timer in timers %}
            <div class="card" id="timer-{{ timer.id }}" data-start-time="{{ timer.start_time|date:"Y-m-d H:i:s" }}">
                <table class="timer-row">
                    <tr>
                        <td>
                            [{{ forloop.counter0 }}]: Started
                        </td>
                        <td class="text-red">
                            {{ timer.project.name }}
                        </td>
                        <td >
                            [
                            {% for subproject in timer.subprojects.all %}
                                '<span class="text-blue">{{ subproject.name }}</span>'{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            ]
                        </td>
                        <td>
                            <span class="text-green timer-duration">{{ timer.duration|min_formatter }}</span> ago
                        </td>
                        <td>
                            <button class="timer-button" onclick="window.location.href='{% url 'restart_timer' timer.id %}'">
                                <i class="fas fa-redo-alt"></i>
                            </button>
                            <button class="timer-button" onclick="window.location.href='{% url 'stop_timer' timer.id %}'">
                                <i class="fa fa-stopwatch"></i>
                            </button>
                            <button class="timer-button" onclick="window.location.href='{% url 'remove_timer' timer.id %}'">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>

                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>

    <h2>Recent Sessions</h2>
    <div class="card" id="session-logs">
        <p><u>Today</u> (27 minutes 04 seconds)</p>
        <div class="session">
            <span class="session-from-to">10:00 to 10:27</span>
            <span class="session-duration">(27 minutes 04 seconds)</span>
            <span class="session-project">Mars</span>
            <span class="session-subprojects">[Falcon Heavy, Thrusters]</span>
            ->
            <span class="session-note-preview">Testing the new raptor engines for the Falcon Heavy. Initial results show...</span>
        </div>
    </div>

    <h2>Totals by Project</h2>
    <div class="card" id="totals">
        <div class="lookup-window">
            <span class="label-input">
                <label for="window-start">From:</label>
                <input type="date" id="window-start" name="window-start">
            </span>
            <span class="label-input">
                <label for="window-end">To:</label>
                <input type="date" id="window-end" name="window-end">
            </span>
        </div>
    </div>

    <div class="small-chart" id="bar-chart">
        <!-- Small bar chart goes here -->
    </div>

    <div class="small-chart" id="pie-chart">
        <!-- Small pie chart goes here -->
    </div>

{% endblock %}