<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autumn</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src= "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- for jquery ui and autocomplete-->
    <script src="{% static 'core/js/functions.js' %}"></script>
    <script src="{% static 'core/js/commands.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <!-- command prompt like page where users can enter commands at the bottom of the page and
     see the results of their commands at the top of the page -->

    <div id="output"></div>

    <div id="input" class="input-bottom">
        <div id="autocomplete-cont"></div>
        <label for="command" class="autumn_tag">
           autumn>
        </label>
        <input id="command" name="command" class="input-main no-padding">
        <button class="plain-button" id="run">
            <i class="material-icons icon-style">arrow_upward</i>
        </button>
    </div>    
</body>
</html>