{% extends 'core/base.html' %}
{% load static %}
{% load time_formats %}
{% load markdown_render %}
{% load param_replace %}

{% block head_includes %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- for jquery ui and autocomplete-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{% static 'core/js/search_projects.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/js/session_sliders.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <section id="search_options">
        <form method="get" id="search_form" class="card flex-row" enctype="multipart/form-data">
            <div id="search_projects">
                <span class="label-input">
                    <label for="project-search"><i class="fa fa-search"></i> Search</label>
                    {{ search_form.project_name }}
                    {{ search_form.project_name.errors }}
                </span>
                <span id="project-search-results"></span>
            </div>

            <span class="label-input" id="filter_start">
                <label for="start_date"><i class="fa fa-calendar"></i> Start Date</label>
                {{ search_form.start_date }}
                {{ search_form.start_date.errors }}
            </span>

            <span class="label-input" id="filter_end">
                <label for="end_date"><i class="fa fa-calendar"></i> End Date</label>
                {{ search_form.end_date }}
                {{ search_form.end_date.errors }}
            </span>

            <span class="label-input">
                <label for="note_snippet"><i class="fa fa-sticky-note"></i> Note</label>
                {{ search_form.note_snippet }}
                {{ search_form.note_snippet.errors }}
            </span>

            <span>
                <button type="submit" class="primary-button" id="search_button">
                    <i class="fa fa-search"></i>
                    Search
                </button>
            </span>
        </form>
    </section>

    <section id="sessions-list">
        {% if not sessions %}
            <div class="full-width centered-pic">
                <img src="{% static 'core/images/reddit_such_empty_transparent.png' %}"
                 alt="No sessions found">
            </div>
        {% else %}
            <h2 class="text-center">Sessions</h2>
            <br>
        {% endif %}

        {% for date, data in grouped_sessions.items %}
            <h3>
                <u>{{ date|day_date_formatter }}</u>
                <span class="text-green">
                    ({{ data.total_duration|duration_formatter }})
                </span>
            </h3>
            {% for session in data.sessions %}
                <div class="card" id="session-{{ session.id }}">
                    <span class="text-cyan">{{ session.start_time|time_formatter }}</span>
                    to
                    <span class="text-cyan">{{ session.end_time|time_formatter }}</span>

                    {{ session.duration|duration_formatter }}

                    <span class="text-red project-name-slider" id="project-name">
                        <a class="plain-link" href="{% url 'update_project' session.project.name %}">
                            {{ session.project.name }}
                        </a>
                    </span>

                    <span>
                        {% for subproject in session.subprojects.all %}
                            <a class="plain-link" href="{% url 'update_subproject' subproject.id %}">
                                {% if forloop.first %}[{% endif %}
                                '<span class="text-blue">{{ subproject.name }}</span>'{% if not forloop.last %}, {% endif %}
                                {% if forloop.last %}] {% endif %}
                            </a>
                        {% endfor %}
                        {% if session.note|length > 0 %}->{% endif %}
                    </span>

                    {% if session.note %}
                        <div class="session-note-slider">
                            <span class="text-yellow session-note" id="note-{{ session.id }}">
                                {{ session.note | markdown | safe }} <!-- safe is used to render html -->
                            </span>
                        </div>
                    {% endif %}

                    <span>
                        <button class="primary-button" onclick="window.location.href='{% url 'update_session' session.id %}'">
                            <i class="fa fa-pen"></i>
                        </button>
                        <button class="primary-button" onclick="window.location.href='{% url 'delete_session' session.id %}'">
                            <i class="fa fa-trash"></i>
                        </button>
                    </span>
                </div>
            {% endfor %}
        {% endfor %}
    </section>

    <section id="pagination">
        {% if is_paginated %}
            <div class="flex-row full-width">
                {% if page_obj.has_previous %}
                    <button type="button" onclick="window.location.href='?{% param_replace page=1 %}'" class="secondary-button">
                        <i class="fa fa-angle-double-left"></i>
                    </button>
                    <button type="button" onclick="window.location.href='?{% param_replace page=page_obj.previous_page_number %}'" class="secondary-button">
                        <i class="fa fa-angle-left"></i>
                    </button>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <button type="button" onclick="window.location.href='?{% param_replace page=num %}'" class="secondary-button">
                            <span style="font-size: 18px; padding:0.4rem;">{{num}}</span>
                        </button>
                    {% elif  num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                        <button type="button" onclick="window.location.href='?{% param_replace page=num %}'" class="secondary-button">
                            <span style="font-size: 18px; padding:0.4rem;">{{num}}</span>
                        </button>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <button type="button" onclick="window.location.href='?{% param_replace page=page_obj.next_page_number %}'" class="secondary-button">
                        <i class="fa fa-angle-right"></i>
                    </button>
                    <button type="button" onclick="window.location.href='?{% param_replace page=page_obj.paginator.num_pages %}'" class="secondary-button">
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </section>
{% endblock %}