{% extends 'core/base.html' %}
{% load static %}
{% load time_formats %}
{% block content %}
    <section id="options">
        <button id="create-project" class="primary-button" onclick="window.location.href='{% url 'create_project' %}'">
            <i class="fa fa-plus"></i>
            Create Project
        </button>
    </section>
    <section id="projects-list" class="grid-rows">
        {% for project in projects %}
            <div class="card" id="project-{{ project.id }}">
                <table>
                    <tr>
                        <td class="text-red">
                            <h3>
                                <a class="plain-link" href="{% url 'update_project' project.name %}">
                                    {{ project.name }}
                                </a>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <em>{{ project.status }}</em>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-green">
                            {{ project.total_time|min_formatter }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-cyan">{{ project.start_date|date_formatter }}</span>

                            ->

                            <span class="text-cyan">{{ project.last_updated|date_formatter }}</span>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </section>
{% endblock %}