{% extends 'core/base.html' %}
{% load static %}
{% load time_formats %}

{% block head_includes %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- for jquery ui and autocomplete-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{% static 'core/js/search.js' %}" type="text/javascript"></script>
    <script src="{% static 'core/js/start_timer.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="card">
        <div id="search-projects">
            <span class="label-input">
                <label for="project-search"><i class="fa fa-search"></i> Search</label>
                <input type="text" id="project-search" placeholder="Projects" class="half-width"
                       data-ajax_url="{% url 'search_projects' %}">
            </span>
            <div id="project-search-results"></div>
        </div>

        <br>

        <div class="pick-subprojects">
            <input type="hidden" id="list_subs" data-ajax_url="{% url 'list_subprojects_param' %}">
            <!-- dynamically fill in a combobox with the subprojects of the selected project -->
            <a class="plain-link" id="get_subs_list"><h3>Subprojects</h3></a>

            <br>

            <div class="grid-rows" id="subproject_options">
                <!-- subprojects will be added here -->
            </div>

            <br>

            <span id="select-all-block">
                <input type="checkbox" id="select-all" class="select-all">
                <label for="select-all">Select All</label>
            </span>

        </div>

        <br>

        <button type="submit" id="start-timer" class="timer-button">
            <a href="#" class="plain-link">
                <i class="fa fa-hourglass-start"></i>
                Start Timer
            </a>
        </button>

        <script>
            $(document).ready(function() {
                $('#pick-subprojects').hide();
                $('#select-all-block').hide();

                $('#get_subs_list').click(function() {
                    let url = "{% url 'list_subprojects_param' %}";
                    let project_name = $("#project-search").val();
                    if (project_name !== ""){
                        $('#pick-subprojects').show('slow');
                        $('#select-all-block').show('slow');

                        $.ajax({
                            url: url,
                            data: {
                                'project_name': project_name
                            },
                            dataType: 'json',
                            success: function (data) {
                                let options = data.map(({name}) => `
                                    <span>
                                        <input type="checkbox" name="subprojects" value="${name}" id="${name}">
                                        <label for="${name}">${name}</label>
                                    </span>

                                `);
                                $('#subproject_options').html(options.join(''));
                            }
                        });
                    }
                });

                $('#select-all').click(function() {
                    let checked = $(this).prop('checked');
                    $('input[name="subprojects"]').prop('checked', checked);
                });


                // Start Timer (get the values from the project name and subprojects and send them to the backend)
                $('#start-timer').click(function() {
                    let project_name = $("#project-search").val();
                    let subprojects = $('input[name="subprojects"]:checked').map(function() {
                        return $(this).val();
                    }).get();

                    $.ajax({
                        url: "{% url 'start_session' %}",
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'project': project_name,
                            'subprojects': subprojects
                        },
                        success: 'success'
                    });
                });
            });
        </script>
    </div>
{% endblock %}