{% extends 'core/base.html' %}
{% load static %}
{% load time_formats %}

{% block head_includes %}
    <script src="{% static 'core/js/dynamic_timers.js' %}?v={{ static_version.dynamic_timers }}" type="text/javascript"></script>
    <script src="{% static 'core/js/session_note_editor.js' %}?v={{ static_version.session_note_editor }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card" id="timer-{{ timer.id }}" data-timer-id="{{ timer.id }}" data-start-time="{{ timer.start_time|utc_time_formatter }}">
            <table class="timer-row">
                <tr>
                    <td>
                        Stopping <span class="text-red">{{ timer.project.name }}</span>
                    </td>
                    <td>
                        [
                        {% for subproject in timer.subprojects.all %}
                            '<span class="text-blue">{{ subproject.name }}</span>'{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        ]
                    </td>
                    <td>
                        started <span class="text-green timer-duration">{{ timer.duration|min_formatter }}</span> ago
                    </td>
                </tr>
            </table>
        </div>

        <section id="input-fields" class="card stacked">
            <div id="date-fields" class="flex-row">
                <span class="label-input">
                    {{ form.start_time.label_tag }}
                    {{ form.start_time }}
                    {{ form.start_time.errors }}
                </span>
                <span class="label-input">
                    {{ form.end_time.label_tag }}
                    {{ form.end_time }}
                    {{ form.end_time.errors }}
                </span>
            </div>

            <div class="label-input" data-note-editor>
                <label for="{{ form.note.id_for_label }}">Session Note</label>
                <div class="flex-row">
                    <button type="button" class="secondary-button" data-note-action="bold"><b>B</b></button>
                    <button type="button" class="secondary-button" data-note-action="italic"><i>I</i></button>
                    <button type="button" class="secondary-button" data-note-action="link"><i class="fa fa-link"></i></button>
                    <button type="button" class="secondary-button" data-note-action="dictate">Dictate</button>
                </div>
                <small data-note-status></small>
                {{ form.note }}
                {{ form.note.errors }}
            </div>
        </section>

        <div class="button-row">
            <button type="button" class="timer-button" onclick="window.location.href='{% url 'timers' %}'">
                 <i class="fa fa-arrow-left"></i>
                Back
            </button>
            <button type="submit" id="start-timer" class="timer-button">
                <i class="fa fa-stopwatch"></i>
                Stop
            </button>
        </div>
    </form>
{% endblock %}
