{% extends 'core/base.html' %}
{% load static %}
{% load time_formats %}

{% block head_includes %}
    <script src="{% static 'core/js/dynamic_timers.js' %}?v={{ static_version.dynamic_timers }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <section id="options">
        <button id="start-timer" class="timer-button" onclick="window.location.href='{% url 'start_timer' %}'">
            <i class="fa fa-plus"></i>
            New Timer
        </button>
    </section>
    <section id="active-timers">
        {% for timer in timers %}
            <div class="card" id="timer-{{ timer.id }}" data-start-time="{{ timer.start_time|utc_time_formatter }}">
                <div class="timer-row-flex">
                    <span>[{{ forloop.counter0 }}]: Started</span>
                    <span class="text-red">
                        <a class="plain-link" href="{% url 'update_project' timer.project.id %}">
                            {{ timer.project.name }}
                        </a>
                    </span>
                    <span class="timer-subprojects">
                        {% for subproject in timer.subprojects.all %}
                            <a class="plain-link" href="{% url 'update_subproject' subproject.id %}">
                                {% if forloop.first %}[{% endif %}
                                '<span class="text-blue">{{ subproject.name }}</span>'{% if not forloop.last %}, {% endif %}
                                {% if forloop.last %}]{% endif %}
                            </a>
                        {% endfor %}
                    </span>
                    <span>
                        <span class="text-green timer-duration">{{ timer.duration|min_formatter }}</span> ago
                    </span>
                    <span class="timer-actions">
                        <button class="timer-button" onclick="window.location.href='{% url 'restart_timer' timer.id %}'">
                            <i class="fas fa-redo-alt"></i>
                        </button>
                        <button class="timer-button" onclick="window.location.href='{% url 'stop_timer' timer.id %}'">
                            <i class="fa fa-stopwatch"></i>
                        </button>
                        <button class="timer-button" onclick="window.location.href='{% url 'remove_timer' timer.id %}'">
                            <i class="fa fa-trash"></i>
                        </button>
                    </span>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
