{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <form class="card stacked half-width" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Update Tag</h2>

        <div class="label-input">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="label-input">
            {{ form.color.label_tag }}
            {{ form.color }}
            {{ form.color.errors }}
        </div>

        <div class="button-row">
            <button type="submit" class="primary-button">
                <i class="fa fa-check-circle"></i>
                Update Tag
            </button>
            <button type="button" class="primary-button dark-red" onclick="window.location.href='{% url 'delete_tag' tag.id %}'">
                <i class="fa fa-trash"></i>
                Delete Tag
            </button>
        </div>

        <div class="button-row">
            <button type="button" class="secondary-button" onclick="window.location.href='{% url 'tags' %}'">
                <i class="fa fa-arrow-left"></i>
                Back
            </button>
        </div>
    </form>

{% endblock %}

