{% extends 'core/base.html' %}
{% load time_formats %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="card" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <span class="label-input">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </span>

        <br> <br>

        <span>
            Total time:
            <span class="text-green" >{{ project.total_time|min_formatter }}</span>
        </span>

        <br> <br>

        <span>
            Session Count:
            <span class="text-green" >{{ session_count }}</span>
        </span>

        <br> <br>

        <span>
            Average time per session:
            <span class="text-green" >{{ average_session_duration|min_formatter }}</span>
        </span>

        <br> <br>

        <span class="label-input">
            {{ form.status.label_tag }}
            {{ form.status }}
            {{ form.status.errors }}
        </span>

        <br> <br>

        <span class="label-input">
            {{ form.description }}
            {{ form.description.errors }}
        </span>

        <br> <br>

        <button type="submit" id="update-subproject" class="primary-button">
            <i class="fa fa-check-circle"></i>
            Update Subproject
        </button>

        <br><br>

        <section id="subprojects-list" class="grid-rows">
            {% for subproject in subprojects %}
                <div class="card bordered-top" id="subproject-{{ subproject.id }}">
                    <table>
                        <tr>
                            <td class="text-cyan">
                                <h3>{{ subproject.name }}</h3>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-green">
                                {{ subproject.total_time|min_formatter }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>{{ subproject.start_date|date_formatter }}</span>

                                ->

                                <span>{{ subproject.last_updated|date_formatter }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="primary-button">
                                    <i class="fa fa-pen"></i>
                                </button>

                                <button class="primary-button">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </section>
    </form>




{% endblock %}