{% extends 'core/base.html' %}
{% load time_formats %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="flex-row" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <section id="input-fields" class="card stacked half-width">
            <span class="label-input">
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}
            </span>

            <span class="label-input">
                {{ form.status.label_tag }}
                {{ form.status }}
                {{ form.status.errors }}
            </span>

            <span class="label-input">
                {{ form.description }}
                {{ form.description.errors }}
            </span>

            <span>
                <button type="submit" id="update-project" class="primary-button">
                    <i class="fa fa-check-circle"></i>
                    Update Project
                </button>

                <button type="button" class="primary-button"
                onclick="window.location.href = '{% url 'delete_project' project.id %}' ">
                    <i class="fa fa-trash"></i>
                    Delete Project
                </button>
            </span>
        </section>

        <section id="meta-data" class="card stacked half-width space-around">
            <span>
                Total time:
                <span class="text-green" >{{ project.total_time|min_formatter }}</span>
            </span>

            <span>
                Created:
                <span class="text-cyan" >{{ project.start_date|date_formatter }}</span>
            </span>

            <span>
                Last Updated:
                <span class="text-cyan" >{{ project.last_updated|date_formatter }}</span>
            </span>

            <span>
                Session Count:
                <span class="text-cyan" >{{ session_count }}</span>
            </span>

            <span>
                Average time per session:
                <span class="text-cyan" >{{ average_session_duration|min_formatter }}</span>
            </span>
        </section>
    </form>

    <br><br>

    <button type="button" id="create-subproject-button" class="primary-button"
            onclick="window.location.href= '{% url 'create_subproject' project.id %}'">
        <i class="fa fa-plus"></i>
        Create Subproject
    </button>
    
    <button type="button" id="merge-subprojects-button" class="secondary-button"
            onclick="window.location.href= '{% url 'merge_subprojects' project.id %}'">
        <i class="fa fa-code-branch"></i>
        Merge Subprojects
    </button>

    <br><br>

    <section id="subprojects-list" class="grid-rows">

        {% for subproject in subprojects %}
            <div class="card bordered-top" id="subproject-{{ subproject.id }}">
                <table>
                    <tr>
                        <td class="text-blue">
                            <h3>
                                <a class="plain-link" href="{% url 'update_subproject' subproject.id %}">
                                    {{ subproject.name }}
                                </a>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-green">
                            {{ subproject.total_time|min_formatter }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>{{ subproject.start_date|date_formatter }}</span>

                            ->

                            <span>{{ subproject.last_updated|date_formatter }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="primary-button"
                            onclick="window.location.href = '{% url 'update_subproject' subproject.id %}' ">
                                <i class="fa fa-pen"></i>
                            </button>

                            <button type="button" class="primary-button"
                            onclick="window.location.href = '{% url 'delete_subproject' subproject.id %}' ">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </section>




{% endblock %}