@import url("style.css"); /* Import variables from style.css */
@import url("colours.css");

.conversation-container {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 0; /* Sharp corners */
  transition: background-color 0.3s, border-color 0.3s;
}

.dark-mode .conversation-container {
  border: 1px solid var(--border-dark);
  background-color: transparent;
}

.light-mode .conversation-container {
  border: 1px solid var(--border-light);
  background-color: transparent;
}

.user-message,
.assistant-message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px; /* Slightly rounded corners for message bubbles */
  max-width: 80%;
  transition: background-color 0.3s;
}

.dark-mode .user-message {
  background-color: var(--color-ferngreen); /* Dark Green background */
  color: var(--color-text-light);
  margin-left: auto;
  text-align: right;
}

.dark-mode .assistant-message {
  background-color: var(--color-forestgreen); /* Terminal Black background */
  color: var(--color-text-light);
  margin-right: auto;
}

.light-mode .user-message {
  background-color: var(--color-dodgerblue);
  color: #ffffff;
  margin-left: auto;
  text-align: right;
}

.light-mode .assistant-message {
  background-color: var(--color-blue-grey);
  color: var(--light-text);
  margin-right: auto;
}

.message-content {
  word-wrap: break-word;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}