:root {
  /* Background colors */
  --color-dodgerblue: #7896b8;
  --color-dark-red: #be675f;
  --color-blue-grey: #4c5b64;
  --color-cobalt-blue: #7896b8;
  --color-forestgreen: #607f58;
  --color-ferngreen: #4e9a8e;
  --color-kellygreen: #7ca36a;
  --color-lincolngreen: #4e9a8e;
  --color-cadmium-red: #be675f;
  --color-transparent-white: rgba(255, 255, 255, 0.2);

  /* Text color */
  --color-text-light: #d9dedb;
}

/* Using the variables (This section can be kept for compatibility or removed if unused) */
.dodgerblue {
  background-color: var(--color-dodgerblue) !important;
  color: var(--dark-background);
}
.dark-red {
  background-color: var(--color-dark-red) !important;
  color: var(--color-text-light);
}
.blue-grey {
  background-color: var(--color-blue-grey) !important;
  color: var(--light-text);
}
.cobalt-blue {
  background-color: var(--color-cobalt-blue) !important;
  color: var(--color-text-light);
}
.forestgreen {
  background-color: var(--color-forestgreen) !important;
  color: var(--color-text-light);
}
.ferngreen {
  background-color: var(--color-ferngreen) !important;
  color: var(--color-text-light);
}
.kellygreen {
  background-color: var(--color-kellygreen) !important;
  color: var(--dark-background);
}
.lincolngreen {
  background-color: var(--color-lincolngreen) !important;
  color: var(--dark-background);
}
.cadmium-red {
  background-color: var(--color-cadmium-red) !important;
  color: var(--color-text-light);
}
.transparent-white {
  background-color: var(--color-transparent-white) !important;
}
